[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"

[dev-packages]
black = "24.8.0"
pre-commit = "4.0.1"
pre-commit-hooks = "4.6.0"

[requires]
python_version = "3.12"
